<!DOCTYPE html>
<html lang="en">

<head>
    <title>Online Study Portal</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Online Study Portal !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                    We believe that Internet has completely transformed the education sector and revolutionized the way people gather and absorb information.
                    That's why we created <code>Online Study portal</code> foundation where student share their
                    knowledge and the same knowlegde can be used by Students in their studies.
                  </blockquote>

                  <blockquote class="mainLines">
                    Educational websites are being used by students of all ages across the globe, and it has become somewhat of a social obligation to provide high quality and useful content to them. <br/><br/> However, the way information is distributed online, a lot of times kids have to struggle and jump across several websites to find the most suitable information and research they need. It is for this very purpose, many educational institutes and schools are turning to web development companies in order to create student portal accounts and websites. <br/> Read the Study article <a href="/stories">here</a> or <a href="/new-story">write your own article</a>
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
