<!DOCTYPE html>
<html lang="en">

<head>
    <title>Logged out!</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

      <div id="sidebar-wrapper">
             <ul class="sidebar-nav">
                  <br/>
                  <li class="sidebar-brand">
                      <a class="brandFont" align="center" href="/">
                        Online Study Portal !!!
                      </a>
                  </li>
                  <br/>

                  <div align="center">
                  <img class="img-circle" src="/images/logo.png"/>
                  </div>
                  <br/>

                  <li>
                   <a class="menus" align="center" href="/stories">Study Topics</a>
                  </li>
                  <li>
                   <a class="menus" align="center" href="/new-story">Share your Knowledge</a>
                  </li>
                  <li>
                   <a class="menus" align="center" href="/techStack">About US</a>
                  </li>

                  <br/><br/><br/>
                  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <a type="button" href="/login" class="btn btn-primary btn-lg outline">Login</a>&nbsp;&nbsp;&nbsp;
                   <a type="button" href="/register" class="btn btn-danger btn-lg outline">Sign Up</a>
                 </div>


          </ul>
      </div>


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Online Study Portal !!!
                      </p>
                      <br/><br/><br/>

                   <blockquote class="mainLines">
                    <code><%=loggedOutUser%></code> you have been successfully logged out<br/>
                    Please <a href="/login">login</a> to create your article or just read other's <a href="/stories">Articles</a>
                  </blockquote>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <% include partials/jsIncludes.ejs %>


</body>

</html>
